.pod {
	list-style: none;
	cursor: pointer;
	display: inline;
}

.podcasts img {
	width: 13.775%;
	height: 13.775%;
	margin-left: 0.25%;
	margin-right: 0.25%;
}

.podcasts {
	margin: 1%;
}

@media ( max-width: 1240px ) {

	.podcasts img {
		width: 24.5%;
		height: 24.5%;
	}

}

@media ( max-width: 650px ) {

	.podcasts img {
		width: 32.5%;
		height: 32.5%;
	}

}

