<div class="podcast-eps" *ngIf="podcast">

	<header>
		<h1> {{ podcast.title }} </h1>
		<mat-button-toggle-group>
			<div [matTooltip]="podcast.info.finished ? 'Podcasten har slutat':''">
				<mat-button-toggle routerLink="/update/{{podcast.title}}" [class.disabled]="podcast.info.finished"> Updatera </mat-button-toggle>
			</div>
			<mat-button-toggle (click)="goBack()"> Tillbaka </mat-button-toggle>
		</mat-button-toggle-group>
 	</header>

	<mat-accordion>	
		<mat-expansion-panel [expanded]="epOpen === ep.nr" *ngFor="let ep of podcast.episodes  | slice: sliceStart : sliceEnd" >

			<mat-expansion-panel-header (click)="activeMin = false">
				<mat-panel-title>
					{{ ep.nr }} - {{ ep.name }}
				</mat-panel-title> 
				<div class="min-count">   
					{{ ep.countMin }}  
				</div>
			</mat-expansion-panel-header>

				<div *ngFor="let minutes of ep.minutes">
					<div *ngIf="minutes.text !== ''" [ngClass]="activeMin ? 'minuteActive' : 'minute'">
						<mat-label> Min {{ minutes.nr }}:</mat-label>
						<mat-form-field (click)="activeMin = true" class="minText">
							<input  matInput type="text" placeholder="{{ minutes.text }}" [(ngModel)]="minutes.newText">
						</mat-form-field>
						<mat-button-toggle *ngIf="!minutes.newText" class="min-btn" (click)="openDialog( { nr: minutes.nr, text:'' }, ep, 'deleteEp' )">
							Ta bort
						</mat-button-toggle>
						<mat-button-toggle *ngIf="minutes.newText" class="min-btn" (click)="openDialog( { nr: minutes.nr, text:minutes.newText }, ep, 'changeEp' )">
							Ändra
						</mat-button-toggle>
					</div>
				</div>
				<div class="minute">
					Min
					<mat-form-field class="minNr">
						<mat-select [(ngModel)]="addMin.nr"> 
							<mat-option [value]="num" *ngFor="let num of ep.minList">
								{{ num }} 
							</mat-option>
						</mat-select>
					</mat-form-field>:

					<mat-form-field class="minText">
						<input  matInput [(ngModel)]="addMin.text">
					</mat-form-field>
					<mat-button-toggle class="min-btn" (click)="(addMin.text && addMin.nr) ? updatePodcast( addMin, ep ) : ''" [disabled]="!addMin.text || !addMin.nr">
						Lägg till
					</mat-button-toggle>
				</div>

		</mat-expansion-panel>
	</mat-accordion>

	<mat-paginator [length]="podcast.episodes.length"
				   [pageSize]="10"
				   [pageSizeOptions]="[10,15,20,25]"
				   (page)="pageEvent = $event"
				   (click)="updateSlice()">
	</mat-paginator>
	
</div>