.container {
	margin: 2%;

}

.row {
	display: flex;
	width: 95%;
	justify-content: space-between;
}

.column-1 {
	width: 40%;
}

.column-2 {
	width: 60%;
}

mat-divider {
	width: 90%;
}

mat-button-toggle {
	float: right;
}

.remove-btn ::ng-deep .mat-button-toggle-label-content {
  line-height: 25px !important;
  color: white;
}

.remove-btn {
	background-color: red;
	margin-bottom: 0.5%;
}
