.container {
	margin: 2%;
}

.row {
	display: flex;
	width: 95%;
	justify-content: space-between;
}

.column-1 {
	width: 40%;
}

.column-2 {
	width: 60%;
}

mat-divider {
	width: 90%;
}

mat-button-toggle, mat-checkbox {
	float: right;
}

.remove-btn ::ng-deep .mat-button-toggle-label-content {
  line-height: 25px !important;
  color: white;
}

.remove-btn {
	background-color: #320E44;
	margin-bottom: 0.5%;
}

mat-checkbox {
	margin-right: 5%;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #320E44!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #320E44;
  }