<div class="container">

	<div *ngIf="!addEps">
		<mat-button-toggle (click)="getPodcasts()">
			<mat-icon>refresh</mat-icon>
		</mat-button-toggle>
		<div *ngIf="newEps.length !== 0">
			<mat-button-toggle (click)="openDialog( 'newEps' )">
				Lägg till avsnitt
			</mat-button-toggle>
		</div>

		<mat-spinner *ngIf="loading"></mat-spinner>
		
		<div *ngIf="!loading && !error">

			<div class="row">
				<h2 class="column-1"> Podcast </h2>
				<h2 class="column-2"> Nya avsnitt </h2>
			</div>

			<div *ngFor="let pod of newEps">

				<div class="row">

					<p class="column-2"> 
						{{ pod.title }}
					</p>
					<p class="column-1"> 
						{{ pod.latestEp }}
					</p>

					<div class="column-2"> 
						<div class="row" *ngFor="let ep of pod.newEps">
							<p class="column-2"> {{ ep.nr }} - {{ ep.name }} </p>
							<div class="column-1">
								<mat-button-toggle class="remove-btn" (click)="removeEp( ep, pod )"> X </mat-button-toggle>

								<mat-checkbox (change)="clickCheckBox( $event, pod.title, ep )"> </mat-checkbox>
							</div>
						</div>
					</div>

				</div>

				<mat-divider></mat-divider>

			</div>

			<div *ngIf="newEps.length === 0">
				Inga nya avsnitt
			</div>

		</div>

		<div class="error" *ngIf="error">
			{{ error }}
		</div>
	</div>

	<div *ngIf="addEps">
		<p *ngIf="progressCounter !== progressTotal"> Lägger till avsnitt.. </p>
		<div class="row">
	    	<mat-progress-bar
	          [mode]="'determine'"
	          [value]="progressCounter[0]" 
	          [color]="'primary'"
	          [style.width]="progressTotal[0] + '%'">
	      	</mat-progress-bar>

	      	<mat-progress-bar
	          [mode]="'determine'"
	          [value]="progressCounter[1]"
	          [color]="'warn'"
	          [style.width]="progressTotal[1] + '%'">
	      	</mat-progress-bar>
	     </div>


      	<div class="row">
      		<div class="column-1">
      			<h2> Tillagda avsnitt </h2>
      			<p *ngFor="let ep of epsAdded"> {{ ep.nr }} - {{ ep.name }} </p>
      		</div>
      		<div class="column-2">
      			<h2> Tillagda avsnitt som ej ska visas </h2>
      			<p *ngFor="let ep of epsAddedToNot"> {{ ep.nr }} - {{ ep.name }} </p>
      		</div>
      	</div>
	</div>

</div>


  