<div class="container">

	<mat-button-toggle *ngIf="newEps.length !== 0" (click)="openDialog( 'newEps' )">
		Lägg till avsnitt
	</mat-button-toggle>

	<mat-spinner *ngIf="loading"></mat-spinner>

<!-- TODO: Implement material tree structure -->
	
	<div *ngIf="!loading && !error">

		<div class="row">
			<h2 class="column-1"> Podcast </h2>
			<h2 class="column-2"> Nya avsnitt </h2>
		</div>

		<div *ngFor="let pod of newEps">
			<div class="row">
				<p class="column-1"> 
					{{ pod.title }}
				</p>

				<div class="column-2" *ngIf="pod.newEps.length < 50"> 
					<p *ngFor="let ep of pod.newEps">
						{{ ep.name }}
					</p>
				</div>

				<p class="column-2" *ngIf="pod.newEps.length >= 50">
					Fler än 50 avsnitt, uppdatera enskilt
				</p>
			</div>

			<mat-divider></mat-divider>

		</div>

	</div>

	<div class="error" *ngIf="error">
		{{ error }}
		<mat-button-toggle (click)="getPodcasts()"> 
			Försök igen
		</mat-button-toggle>
	</div>

</div>


  