<div class="container">

	<div *ngIf="!addEps">

		<mat-spinner *ngIf="loading"></mat-spinner>
		
		<div *ngIf="!loading && !error">

			<div class="row">
				<h2 class="column-1 padding"> Podcast </h2>
				<h2 class="column-2 padding"> Senaste avsnittet </h2>
				<h2 class="column-3 padding"> Nya avsnitt </h2>

				<div class="flex">
					<div *ngIf="newEps.length !== 0">
						<mat-button-toggle (click)="openDialog( 'newEps' )">
							Lägg till avsnitt
						</mat-button-toggle>
					</div>
					<div>
						<mat-button-toggle (click)="getPodcasts()">
							<mat-icon>refresh</mat-icon>
						</mat-button-toggle>
					</div>
				</div>

			</div>

			<div *ngFor="let pod of newEps">

				<div class="row">
					<p class="column-1 padding"> 
						{{ pod.title }}
					</p>
					<p class="column-2 padding"> 
						{{ pod.latestEp }}
					</p>
					
					<div class="column-4 padding"> 
						<div class="row seperate" *ngFor="let ep of pod.newEps">
							<p> {{ ep.nr }} - {{ ep.name }} </p>
							<div class="flex">
								<mat-checkbox (change)="clickCheckBox( $event, pod.title, ep )"> </mat-checkbox>
								<mat-button-toggle class="remove-btn" (click)=" 
								removeEp( ep, pod )">
									<mat-icon>remove_circle</mat-icon>
								</mat-button-toggle>
							</div>
						</div>
					</div>

				</div>

				<mat-divider></mat-divider>

			</div>

			<div *ngIf="newEps.length === 0">
				Inga nya avsnitt
			</div>

		</div>

		<div class="error" *ngIf="error">
			<p>
				Saknar tillåtelse från Spotify, hämta <a href="http://localhost:8888"> här </a> .  
			</p>
		</div>
	</div>

	<div *ngIf="addEps">
		<p *ngIf="newEps.length !== 0 || notEPs.length !== 0"> Lägger till avsnitt.. </p>
		<p *ngIf="newEps.length === 0 && notEPs.length === 0"> Avsnitt tillagda! </p>
		<div class="row">
	    	<mat-progress-bar
	          [mode]="'determine'"
	          [value]="progressCounter[0]" 
	          [color]="'primary'"
	          [style.width]="progressTotal[0] + '%'">
	      	</mat-progress-bar>

	      	<mat-progress-bar
	          [mode]="'determine'"
	          [value]="progressCounter[1]"
	          [color]="'warn'"
	          [style.width]="progressTotal[1] + '%'">
	      	</mat-progress-bar>
	    </div>


      	<div class="row">
      		<div class="column-1">
      			<h2> Tillagda avsnitt </h2>
      			<p *ngFor="let ep of epsAdded"> {{ ep.nr }} - {{ ep.name }} </p>
      		</div>
      		<div class="column-2">
      			<h2> Tillagda avsnitt som ej ska visas </h2>
      			<p *ngFor="let ep of epsAddedToNot"> {{ ep.nr }} - {{ ep.name }} </p>
      		</div>
      	</div>
	</div>

</div>


  