.container {
	margin: 2%;
}

.row {
	display: flex;
	width: 100%;
	padding: 0.25%;
}

.flex{
	display: flex;
}

.seperate {
	justify-content: space-between;
}

.padding {
	padding: 0.75%;
}

.column-1 {
	width: 20%;
}

.column-2 {
	width: 32.5%;
}

.column-3 {
	width: 32.5% ;
}

.column-4 {
	width: 47.5%;
}

mat-divider {
	width: 100%;
}

mat-button-toggle-group {
	width: 15%;
}

mat-button-toggle, mat-checkbox {
	float: right;
}

.remove-btn ::ng-deep .mat-button-toggle-label-content {
  line-height: 25px !important;
  color: #320E44;
}

.remove-btn {
	border: none;
	margin-bottom: 0.5%;
}

.remove-btn mat-icon {
	height: 32px;
	width: 13px;
}

mat-checkbox {
	margin-right: 5%;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #320E44!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #320E44;
  }