.mess-cont {
	width: 200px;
	background-color: white;
	color: #320E44;
	height: 600px;
	margin-right: 30px;
}

h2 {
	cursor: pointer;
}

.clear ::ng-deep .mat-button-toggle-label-content {
  line-height: 25px !important;
}

.clear {
  position:absolute;
  top:8px;
  right:45px;
	border-radius: 25px;
}

