<span class="podcast-eps" *ngIf="podcast">

	<header>
		<h1> {{ podcast.title }} </h1>
		<mat-button-toggle-group>
			<mat-button-toggle routerLink="/update/{{podcast.title}}"> Updatera </mat-button-toggle>
			<mat-button-toggle (click)="goBack()"> Back </mat-button-toggle>
		</mat-button-toggle-group>
 	</header>

	<mat-accordion>	
		<mat-expansion-panel *ngFor="let ep of podcast.episodes  | slice:0:50">

			<mat-expansion-panel-header>
				<mat-panel-title>
					{{ ep.nr }} - {{ ep.name }}
				</mat-panel-title> 
				<div class="min-count">
					{{ countMin( ep.minutes ) }}
				</div>
			</mat-expansion-panel-header>

				<div *ngFor="let minutes of ep.minutes">
					<div *ngIf="minutes.text !== ''" class="minute">
						<mat-label> Min {{ minutes.nr }}:</mat-label>
<!-- 						<input class="minText" type="text" placeholder="{{ minutes.text }}" [(ngModel)]="changeText">
						<button *ngIf="changeText" >
							Change text
						</button> -->
						<mat-label> {{ minutes.text }} </mat-label>
						<mat-button-toggle class="min-btn" (click)="updatePodcast( { nr: minutes.nr, text:'' }, ep )">
							Remove
						</mat-button-toggle>
					</div>
				</div>
				<div class="minute">
					Min
					<mat-form-field class="select-min">
						<mat-select [(ngModel)]="addMin.nr"> 
							<mat-option [value]="num" *ngFor="let num of numbers( ep.length )">
								{{ num }} 
							</mat-option>
						</mat-select>
					</mat-form-field>:

					<mat-form-field>
						<input  matInput class="minText" [(ngModel)]="addMin.text">
					</mat-form-field>
					<mat-button-toggle class="min-btn" (click)="updatePodcast( addMin, ep )">
						Add segment
					</mat-button-toggle>
				</div>

		</mat-expansion-panel>
	</mat-accordion>
</span>
