<span class="podcast-eps" *ngIf="podcast">

	<header>
		<h1> {{ podcast.title }} </h1>
		<mat-button-toggle-group>
			<mat-button-toggle routerLink="/update/{{podcast.title}}"> Updatera </mat-button-toggle>
			<mat-button-toggle (click)="goBack()"> Back </mat-button-toggle>
		</mat-button-toggle-group>
 	</header>

	<mat-accordion>	
		<mat-expansion-panel *ngFor="let ep of podcast.episodes">

			<mat-expansion-panel-header>
				<mat-panel-title>
					{{ ep.nr }} - {{ ep.name }}
				</mat-panel-title> 
			</mat-expansion-panel-header>

				<div *ngFor="let minutes of ep.minutes">
					<span *ngIf="minutes.text !== ''">
						<mat-label> Min {{ minutes.nr }}:</mat-label>
						<span *ngIf="selectedMin && selectedMin.nr == minutes.nr">
							<input class="minText" type="text" placeholder="{{ minutes.text }}" [(ngModel)]="changeText">
							<button *ngIf="changeText" >
								Change text
							</button>
						</span>
						<span (click)="selectMin(minutes)" *ngIf="!selectedMin || selectedMin.nr !== minutes.nr" class="minText">
							{{ minutes.text }}
							<button (click)="updatePodcast( { nr: minutes.nr, text:'' } )">
								Remove
							</button>
						</span>
					</span>
				</div>
<!-- 				<mat-form-field>
					Min
					<select [(ngModel)]="addMin.nr"> 
						<option [ngValue]="num" *ngFor="let num of numbers( ep.length )">
							{{ num }}
						</option>
					</select>:
					<input class="minText" [(ngModel)]="addMin.text">
					<button (click)="updatePodcast( addMin )">
						Add segment
					</button>
				</mat-form-field> -->

		</mat-expansion-panel>
	</mat-accordion>
</span>
