<span class="podcast-eps" *ngIf="podcast">
	{{ podcast.title }} - {{ podcast.epsNr }}

	<li *ngFor="let ep of podcast.episodes">
		<span class="ep" (click)="selectEp(ep)">
			{{ ep.nr }} - {{ ep.name }}
		</span>
		<ul *ngIf="selectedEp && selectedEp.name === ep.name">
			<li *ngFor="let minutes of ep.minutes">
				Min {{ minutes.nr }}:
				<span *ngIf="selectedMin && selectedMin.nr == minutes.nr">
					<input class="minText" type="text" placeholder="{{ minutes.text }}" >
				</span>
				<span (click)="selectMin(minutes)" *ngIf="!selectedMin || selectedMin.nr !== minutes.nr">
					{{ minutes.text }}
				</span>
				<button (click)="removeMinText( minutes )">
					Remove
				</button>
			</li>
		</ul>
	</li>
</span>

<button (click)="goBack()"> Back </button>
