:host {
	width:70%;
	margin-left: 1.5em;
}

.ep {
	cursor: pointer;
} 

.minText {
	width: 250px;
	cursor: pointer;
}

li:empty {
	display: none;
}

h1 {
	color: #320E44;
}
header {
	justify-content: space-between;
	margin-bottom: 0.75em;
	display: flex;
}
