.container {
	margin: 2%;
}

mat-button-toggle {
	margin-left: 2%;
}

header {
    justify-content: space-between;
    margin-bottom:   0.75em;
    display:         flex;
}

img {
    width:  150px;
    height: 150px;
}

.row { 
	display: flex;
}

ul {
	list-style: none;
}

.pod {
	cursor: pointer;
}