<div class="container">
	<mat-form-field>
		<input  matInput placeholder="Podcast" [(ngModel)]="query" type="text">
	</mat-form-field>

	<mat-button-toggle (click)="search(query)">
		Sök
	</mat-button-toggle>

	<ul *ngIf="podRes">
		<li class="pod" *ngFor="let pod of podRes">
			<p (click)="selectPod( pod )" matTooltip="{{pod.description}}">
				{{ pod.name }}
			</p>
		</li>

		<div *ngIf="podRes.length === 0 && !podcast">
			Ingen podcast matchade sökordet
		</div>
	</ul>



	<div *ngIf="podcast">
		<header>
			<h1> {{ podcast.title }} </h1>
			<div class="row">
				<mat-button-toggle (click)="openDialog()"> Lägg till podcast </mat-button-toggle>
				<mat-button-toggle (click)="search( query )"> Tillbaka</mat-button-toggle>			
			</div>
		</header>

		<div class="row">
			<img src="{{podcast.image}}">
			<ul>
				<li> <b> Namn: </b> {{ podcast.info.name }} </li> 
				<li> <b> Spotify link: </b> <a [href]="sanitize( 'spotify:show:' + podcast.info.spotifyID )"> {{ podcast.info.spotifyID }} </a> </li> 
				<li> <b> Beskrivning: </b> {{ description }} </li>
			</ul>
		</div>

	</div>

	<div *ngIf="error">
		<p>
			Saknar tillåtelse från Spotify, hämta <a href="http://localhost:8888"> här </a> .  
		</p>
	</div>	
</div>
