<div *ngIf="newEps">

	<mat-button-toggle (click)="addNewEps()" *ngIf="newEps.length !== 0">
		Add episodes
	</mat-button-toggle>

	<mat-accordion>
		<div *ngFor="let ep of newEps">
			<mat-label> {{ ep.nr }} - </mat-label> 
			<mat-form-field>
				<input matInput type="text" [(ngModel)]="ep.name" placeholder="{{ ep.name }}"> 
			</mat-form-field>
		</div>
	</mat-accordion>

	<div class="no-eps" *ngIf="newEps.length === 0">
		Inga nya avsnitt
	</div>

</div>


<div class="error" *ngIf="error">
	{{ error }}
</div>
