<div *ngIf="newEps">

	<mat-button-toggle (click)="openDialog( 'newEps' )" *ngIf="newEps.length !== 0">
		Add episodes
	</mat-button-toggle>

	<mat-accordion>
		<div *ngFor="let ep of newEps">
			<mat-form-field> 
				<input matInput type="number" [(ngModel)]="ep.nr" placeholder="{{ ep.nr }}">
			</mat-form-field> 
			<mat-form-field>
				<input matInput type="text" [(ngModel)]="ep.name" placeholder="{{ ep.name }}"> 
			</mat-form-field>
		</div>
		<mat-button-toggle (click)="getEpsisodes()">
			Fler avsnitt
		</mat-button-toggle> 
	</mat-accordion>

	<div class="no-eps" *ngIf="newEps.length === 0">
		Inga nya avsnitt
	</div>

</div>


<div class="error" *ngIf="error">
	{{ error }}
</div>
