a {
	margin-bottom: 0.75%;
}

.link-width {
	width        : 120px;
}

.container {
	margin-left  : 5%;
}

.inline {
	display      : inline;
}

.flex {
	display      : flex;
}

ul:before {
	content      : attr( aria-label );
	font-size    : 120%;
	margin-left  : -40px;
}
